<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _home_page_side.html %}
  </div>
  <div id="index">
  <h1>Hello, world!</h1>
  <p>I am a web and software developer, a theater person, and generally useful person. Pleased to meet you!</p>
  <p>Check me out all over the interwebs:</p>
    {% if author.email %}<a href="mailto:{{ author.email }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %}
  {% if author.twitter %}<a href="http://twitter.com/{{ author.twitter }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-twitter-square"></i></a>{% endif %}
  {% if author.facebook %}<a href="http://facebook.com/{{ author.facebook }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-facebook-square"></i></a>{% endif %}
  {% if author.google.plus %}<a href="http://plus.google.com/+{{ author.google.plus }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-google-plus-square"></i></a>{% endif %}
  {% if author.linkedin %}<a href="http://linkedin.com/in/{{ author.linkedin }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-linkedin-square"></i></a>{% endif %}
  {% if author.xing %}<a href="http://www.xing.com/profile/{{ author.xing }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-xing-square"></i></a>{% endif %}
  {% if author.instagram %}<a href="http://instagram.com/{{ author.instagram }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-instagram"></i></a>{% endif %}
  {% if author.tumblr %}<a href="http://{{ author.tumblr }}.tumblr.com" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-tumblr-square"></i></a>{% endif %}
  {% if author.github %}<a href="http://github.com/{{ author.github }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-github"></i></a>{% endif %}
  {% if author.stackoverflow %}<a href="http://stackoverflow.com/users/{{ author.stackoverflow }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-stack-overflow"></i></a>{% endif %}
  {% if author.lastfm %}<a href="http://lastfm.com/user/{{ author.lastfm }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-music"></i></a>{% endif %}
  {% if author.dribbble %}<a href="http://dribbble.com/{{ author.dribbble }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-dribbble"></i></a>{% endif %}
  {% if author.pinterest %}<a href="http://www.pinterest.com/{{ author.pinterest }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-pinterest"></i></a>{% endif %}
  {% if author.foursquare %}<a href="http://foursquare.com/{{ author.foursquare }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-foursquare"></i></a>{% endif %}
  {% if author.steam %}<a href="http://steamcommunity.com/id/{{ author.steam }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-steam-square"></i></a>{% endif %}
  {% if author.youtube %}<a href="https://youtube.com/user/{{ author.youtube }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-youtube-square"></i></a>{% endif %}
  {% if author.soundcloud %}<a href="http://soundcloud.com/{{ author.soundcloud }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-soundcloud"></i></a>{% endif %}
  {% if author.weibo %}<a href="http://www.weibo.com/{{ author.weibo }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-weibo"></i></a>{% endif %}
  {% if author.flickr %}<a href="http://www.flickr.com/{{ author.flickr }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-flickr"></i></a>{% endif %}
  {% if author.codepen %}<a href="http://codepen.io/{{ author.codepen }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-codepen"></i></a>{% endif %}
  {% if author.devto %}<a href="https://dev.to/{{ author.devto }}" class="author-social-inline" target="_blank"><i class="fa fa-fw fa-dev"></i></a>{% endif %}

<!--     <h3><a href="{{ site.url}}/posts/">Recent Posts</a></h3>
    {% for post in site.posts limit:5 %}
    <article>
      {% if post.link %}
        <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
      {% else %}
        <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
      {% endif %}
    </article>
    {% endfor %}
 -->  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
